<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="hall-detail">
    <h2>Sala Royal</h2>
    <img src="hall1.jpg" style="width: 100%; max-width: 800px; border-radius: 10px;">
    <p style="max-width: 800px; margin: 20px auto; font-size: 18px;">
        Sala Royal este o locație luxoasă pentru evenimente cu până la 250 de invitați. Beneficiază de lumini ambientale, sonorizare premium și decor elegant.
    </p>
    <button onclick="location.reload()">Înapoi</button>
</div>


</body>
</html>